{% extends 'base.html' %}
{% block title %} Student Details {{ student.first_name }} {{ student.last_name }}
{% endblock %}
{% block content %}
    <style>
        body {
            background-color: #72aee6;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3"><br>
                <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="card-text-dark bg-info mb-3" style="max-width: 60rem;">
                        <div class="card-header text-center">{{ student.first_name }} {{ student.last_name }}</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Details</h5>
                            <p class="card-text text-center">
                                Age: {{ student.age }}<br>
                                Is olympic: {% if is_olympic is True %} YES {% else %} NO {% endif %}<br>
                                Average: {{ student.average }}<br>
                                Gender: {{ student.gender }}<br>
                                Email: {{ student.email_field }}<br>
                                Start date: {{ student.start_date|date:"d-m-Y H:i" }}<br>
                                End date: {{ student.end_date|date:"d-m-Y" }}<br>
                                A short description: {{ student.description }}
                            </p>
                        <div class="card-footer text-center">
                            <a href="{% url 'list_of_students' %}" class="btn btn-danger">Back</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}